/* MODAL LOGIN */
.container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.900);
    position: fixed;
    z-index: 2000;
    display: none;
    top: 0;
    padding-top: 15vh;
}
.modal {
    background-color: blueviolet;
    background-image: url(../images/fundo_modal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -17px;
    border-radius: 50px;
    width: 60vw;
    height: 70vh;
    margin: auto;
    padding-top: 4vh;
    position: relative;
    /* justify-content: center;
    align-items: center; */
}   

.formLogin {
    color: #F4EFE5;
}
#comboEstados {
    width: 10vw;
    height: 3.7vh;
}
select, input {
    height: 3.5vh;
    display: block;
    border-radius: 5px;
    border: none;
    /* display: inline-block; */
}
.conteudoDadosUsuario{
    top: 17vh;
    margin: 0 auto;
    position: relative;
    width: 469px;
}
.inpLadoEsquerdo{
    float: left;
    margin-right: 3vw;
}
/* .inpLadoDireito{
    margin-left: 10vw;
} */

.maeInpLado {
    top: 17vh;
    position: relative;
    margin-top: 2vh;
    margin: 0 auto;
    width: 468px;
    
}

/* .inpLado{
    position: ;
} */
.inpForm {
    width: 15vw;
}

#classEmail {
    float: left;
    margin-right: 2vw;
}
.inpEmail {
    width: 21.2vw;
    
}

.inpSenha {
    width: 25vw;
}

.btnCadastrar {
    position: absolute;
    top: 51.4vh;
    left: 39.4vw;
    width: 7vw;
    height: 13.5vh;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.btnCadastrar:hover {
    font-weight: bold;
    background-color: #1BB04C;
    color: #F4EFE5;
}