/* Esse documento tem como objetivo guardar a paleta de cores */

/* está salvo com a extensão .css para ficar visivel a cor em questão */

.paleta{
    color: #1BB04C;
    color: #053225; /* Detalhes */
    color: #C8C8C8;
    color: #776871;
    color: #193C38;
    color: #404040;
}
.font-colors{

color: #7DA1A5; 
color: #B99658;
color: #F4EFE5;
}