body {
    margin: 0;
    padding: 0;
    background-color: rgb(61, 60, 60);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/mundo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: 0vw;
    background-position-y: 0px;
}

/* HEADER */

header {
    width: 100%;
    height: 10.8vh;
    background: #404040;
    font-size: 1.3em;
}

.logo {
    float: left;
    padding-top: 1vh;
    padding-left: 1.5vw;
}

.logo img {
    height: 9vh;
}

.menuQuadrante {
    float: right;
    margin-right: 2vw;
}

.menuQuadrante img {
    height: 1.2em;
    margin-left: 1vw;
    vertical-align: middle;
}

.menuItem {
    list-style: none;
    display: inline-block;
    margin-right: 1.6vw;
}

.btnMenu {
    color: #C8C8C8;
    background-color: #404040;
    border: none;
    cursor: pointer;
    font-size: 0.87em;
    padding-top: 4vh;
}

/* NAV */

.navFixa {
    top: 0;
    position: sticky;
    background-color: #404040;
    height: 8vh;
}

.container {
    width: 92%;
    margin: auto;
}

.logoMini {
    float: left;
    margin-top: 1vh;
    display: none;
}

.logoMini img {
    height: 6vh;
}

ul {
    margin: 0;
}

.navItensMae {
    text-align: center;
}

.navItens {
    list-style: none;
    display: inline-block;
    padding-right: 1.7vw;
    padding-top: 2.6vh;
}

.navItens a {
    text-decoration: none;
    color: #C8C8C8;
}

.navItens a:hover {
    text-decoration: none;
    color: #1BB04C;
}

/* PRIMEIRA SECTION */

.bemVindo {
    font-size: 4.3em;
    text-align: center;
    margin-top: 10vh;
    text-shadow: 1px 1px 3px rgb(0, 0, 0), 0 0 1em rgb(17, 0, 255), 0 0 0.2em rgb(0, 4, 255);
    color: rgb(255, 255, 255);
}